{% extends 'base.html.twig' %}

{% block title %}Liste des habitations{% endblock %}

 {% block stylesheets %}
{{ encore_entry_link_tags('ListHabitations') }}
        {% endblock %}

{% block javascripts %}   
{{ encore_entry_script_tags('ListHabitations') }}
{% endblock %}
          
           

{% block body %}

<div id = "ListHabitations">
    
</div>
{% endblock %}