{% extends 'base.html.twig' %}

{% block title %}Hello RecensementController!{% endblock %}

 {% block stylesheets %}
{{ encore_entry_link_tags('searchform') }}
        {% endblock %}

{% block javascripts %}   
{{ encore_entry_script_tags('searchform') }}
{% endblock %}
          
           

{% block body %}

<div id = "SearchForm">
    
</div>
{% endblock %}